// --------------------------------------------------------------
// Video styles
// --------------------------------------------------------------

// Container
.wassPlayer--video {
  background: #000;
  overflow: hidden;

  &.wassPlayer--menu-open {
    overflow: visible;
  }
}

.wassPlayer__video-wrapper {
  background: #000;
  height: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}

// Default to 16:9 ratio but this is set by JavaScript based on config
$embed-padding: ((100 / 16) * 9);

.wassPlayer__video-embed,
.wassPlayer__video-wrapper--fixed-ratio {
  height: 0;
  padding-bottom: to-percentage($embed-padding);
}

.wassPlayer__video-embed iframe,
.wassPlayer__video-wrapper--fixed-ratio video {
  border: 0;
  left: 0;
  position: absolute;
  top: 0;
}

// If the full custom UI is supported
.wassPlayer--full-ui .wassPlayer__video-embed {
  $height: 240;
  $offset: to-percentage(($height - $embed-padding) / ($height / 50));

  // Only used for Vimeo
  > .wassPlayer__video-embed__container {
    padding-bottom: to-percentage($height);
    position: relative;
    transform: translateY(-$offset);
  }
}

// Controls container
.wassPlayer--video .wassPlayer__controls {
  background: $wass-player-video-controls-background;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
  bottom: 0;
  color: $wass-player-video-control-color;
  left: 0;
  padding: calc(#{$wass-player-control-spacing} / 2);
  padding-top: calc(#{$wass-player-control-spacing} * 2);
  position: absolute;
  right: 0;
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  z-index: 3;

  @media (min-width: $wass-player-bp-sm) {
    padding: $wass-player-control-spacing;
    padding-top: calc(#{$wass-player-control-spacing} * 3.5);
  }
}

// Hide controls
.wassPlayer--video.wassPlayer--hide-controls .wassPlayer__controls {
  opacity: 0;
  pointer-events: none;
  transform: translateY(100%);
}

// Control elements
.wassPlayer--video .wassPlayer__control {
  // Hover and tab focus
  &.wassPlayer__tab-focus,
  &:hover,
  &[aria-expanded='true'] {
    background: $wass-player-video-control-background-hover;
    color: $wass-player-video-control-color-hover;
  }
}

// Large play button (video only)
.wassPlayer__control--overlaid {
  background: $wass-player-video-control-background-hover;
  border: 0;
  border-radius: 15%;
  color: $wass-player-video-control-color;
  display: none;
  left: 50%;
  opacity: 0.9;
  padding: calc(#{$wass-player-control-spacing} * 1.5);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  z-index: 2;

  // Offset icon to make the play button look right
  svg {
    left: 2px;
    position: relative;
  }

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.wassPlayer--playing .wassPlayer__control--overlaid {
  opacity: 0;
  visibility: hidden;
}

.wassPlayer--full-ui.wassPlayer--video .wassPlayer__control--overlaid {
  display: block;
}

// Video range inputs
.wassPlayer--full-ui.wassPlayer--video input[type='range'] {
  &::-webkit-slider-runnable-track {
    background-color: $wass-player-video-range-track-background;
  }

  &::-moz-range-track {
    background-color: $wass-player-video-range-track-background;
  }

  &::-ms-track {
    background-color: $wass-player-video-range-track-background;
  }

  // Pressed styles
  &:active {
    &::-webkit-slider-thumb {
      @include wass-player-range-thumb-active($wass-player-video-range-thumb-active-shadow-color);
    }

    &::-moz-range-thumb {
      @include wass-player-range-thumb-active($wass-player-video-range-thumb-active-shadow-color);
    }

    &::-ms-thumb {
      @include wass-player-range-thumb-active($wass-player-video-range-thumb-active-shadow-color);
    }
  }
}

// Progress
.wassPlayer--video .wassPlayer__progress__buffer {
  color: $wass-player-video-progress-buffered-background;
}
