// ==========================================================================
// Badges
// ==========================================================================

$wass-player-badge-background: var(--wass-player-badge-background, $wass-player-color-gray-700) !default;
$wass-player-badge-text-color: var(--wass-player-badge-text-color, #fff) !default;
$wass-player-badge-border-radius: var(--wass-player-badge-border-radius, 2px) !default;
