// ==========================================================================
// Captions
// ==========================================================================

$wass-player-captions-background: var(--wass-player-captions-background, rgba(#000, 0.8)) !default;
$wass-player-captions-text-color: var(--wass-player-captions-text-color, #fff) !default;

$wass-player-font-size-captions-base: $wass-player-font-size-base !default;
$wass-player-font-size-captions-small: $wass-player-font-size-small !default;
$wass-player-font-size-captions-medium: $wass-player-font-size-large !default;
$wass-player-font-size-captions-large: $wass-player-font-size-xlarge !default;
